.action {
        padding-top: 0;
&__title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--title-color);
        margin-bottom: 50px;
                }
        
&__list {
        display: flex;
        gap: 30px;
                }
        
&__item {
        position: relative;
                }
        
&__text {
        position: absolute;
        bottom: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        width: 370px;
        height: 70px;
        color: var(--white-color);
        background: rgba(47, 48, 58, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
                }
        @media screen and (max-width: 1199px) {
                display: none;
        }
}
