// @import './__clients_adaptive';

.client__title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.16;
     letter-spacing: 0.03em;
     color: var(--title-color);
     padding-bottom: 30px;
     text-align: center;

     @media screen and (min-width: 1200px) {
        padding-bottom: 50px;
     }
 }

  .client__list {
      display: flex;
      gap: 30px;
      flex-direction: row;
      flex-wrap: wrap;

  }
   .client__item {
       width: 100%;
       border-radius: 4px;

       @media screen and (min-width: 480px) {
           width: calc((100% - 30px)/2);
       }
       @media screen and (min-width: 768px) {
        width: calc((100% - 60px)/3);
       }
       @media screen and (min-width: 1200px) {
        width: calc((100% - 150px)/6);
       }
   }
 .client__link {
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #AFB1B8;
     color: #AFB1B8;
     border-radius: 4px;
     width: 100%;
     height: 100%;
     transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
    &:hover,
    &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
 }
 .client__icon {
     fill: currentColor;
    &:hover {
            fill: var(--accent-color);
        }
 }
