 .features__list {
     display: flex;
     flex-direction: column;
     gap: 30px;

     @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
     }
 }
 .features__item {
    width: 100%;
    @media screen and (min-width: 768px) {
            width: calc((100% - 30px)/2);
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px)/4);
        }
 }
 .feature__icons {
    display: flex;
     align-items: center;
     justify-content: center;
     padding: 25px 0;
     background-color: var(--btn-background-color);
     margin-bottom: 30px;
     width: 100%;
    
 }
 .features__title {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.5;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--title-color);
     margin-bottom: 10px;
     text-align: center;

     @media screen and (min-width: 768px) {
        text-align: left;
     }
 }
 .features__text {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: var(--text-color);
 }