.header__wrap {
    display: flex;
    align-items: center;
}
.logo-color {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
}
/* navigation */
.navigation {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}
.navigation__site {
    display: flex;
    .current {
            color: var(--accent-color)
        }
}
.navigation__item:not(:last-child),
.contacts__item:not(:last-child) {
    margin-right: 50px;
}
.navigation__contacts {
    display: none;
    // display: flex;
    // margin-left: auto;
}
.link {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
            cursor: pointer;
        }
}
.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
            color: var(--accent-color);
            cursor: pointer;
    
        }
}
.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
            cursor: pointer;
        }
}
.contacts__userpic {
    fill: currentColor;
}
.navigation__item {
    position: relative;
}
.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: var(--accent-color);
}
