
.mob__menu-open, 
.mob__menu-close {
    display: block;
    margin-left: auto;
    border: 0;
    background-color: transparent;
   
 }

.mob__menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
    padding: 48px 40px;
    z-index: 1;
    @media screen and (max-width: 480px) {
  display: none;
    }
}
.menu-close {
    display: flex;
    position: absolute;
    right: 15px;
    top: 10px;
    margin-left: auto;
    border: none;
    background-color: transparent;

}
.mob__menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.mob__menu-item {
    display: block;
    gap: 32px;
}

.mob__menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
   }
.mob__wrap {
    margin-top: auto;
}
.mob__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    // margin-bottom: 64px;
}
.mob__contacts-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 32px;
}
.mob__contacts-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.mob__soc-list {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}

.mob__soc-item {
     &:not(:last-child)::after {
        content: '';
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        height: 22px;
            margin-left: 10px;
    margin-right: 10px;

    }
}
.mob__soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
   
}   