.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background-color: rgba(47, 48, 58, 0.4);
    transition: opacity 300ms var(--cubic), visibility 250ms var(--cubic);
}
// для modal змінила розміри згідно макету 
.modal {
    position: absolute;
    width: 450px;
    min-height: 609px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms var(--cubic);
    padding: 40px;
    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }
}
.backdrop.is-hidden>.modal {
    transform: translate(-50%, -50%) scale(0);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.close-icon {
    fill: currentColor;
}
.modal-uptitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
}
.modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
}
.modal-input-wrapper {
    position: relative;
    margin-bottom: 10px;
}
.modal-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding-left: 42px;
    transition: border-color 250ms var(--cubic);
    &:hover, &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    }
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 12px;
    transition: fill 250ms var(--cubic);
    .modal-input:hover+&,
        .modal-input:focus+& {
            border-color: var(--accent-color);
            fill: var(--accent-color);
        }
}
.modal-message {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
    padding: 12px 16px;
    outline: transparent;
    transition: border-color 250ms var(--cubic);
    &:hover {
        border-color: var(--accent-color);
        }
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        }
}
.custom-icon {
    width: 16px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    outline: transparent;
    margin-right: 7px;
    .checkbox-input:checked+& {
            border: none;
            border-color: var(--accent-color);
            background-color: var(--accent-color);
            color: var(--white-color);
            fill: currentColor;
        }
}
.checkbox-wrapper {
    margin-bottom: 30px;
}
.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .checkbox-input {
   position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; 
   або через .visually-hidden 
} */
.checkbox-text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-right: 4px;
}
.text-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.chekbox-icon {
    background-color: var(--accent-color);
    margin-right: 7px;
}

.modal-btn-submit {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: drop-shadow 250ms var(--cubic), transform 250ms var(--cubic);

    &:hover, &:focus {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &:active {
        transform: translateY(2px);
    }
}
