.filter__list {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    // gap: 8px;
    column-gap: 8px;
        row-gap: 15px;
    justify-content: flex-start;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 48px;
    }
}
.top-border {
    border-bottom: 1px solid #ECECEC;
}
.filter__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: none;
    color: var(--title-color);
    background-color: var(--btn-background-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.portfolio {
    display: flex;
    flex-direction: column;

    // @media screen and (min-width: 768px) {
    //     flex-wrap: wrap;
    // }
    // flex-wrap: wrap;
    gap: 30px;
    // justify-content: center;
}
.portfolio__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    transition: box-shadow 250ms var(--cubic);
    background-color: var(--white-color);
    flex-basis: calc((100% - 60px) / 3);
    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
                 @media screen and (min-width: 768px) {
                     flex-wrap: wrap;
                 }
}
.portfolio__description-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio__description {
    position: absolute;
    top: 0;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
    .portfolio__link:hover & {
            opacity: 1;
            transform: translateY(0);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
        }
}
.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
}
.portfolio__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.border-wrap {
    border-right: 1px solid var(--border-line-portfolio);
    border-bottom: 1px solid var(--border-line-portfolio);
    border-left: 1px solid var(--border-line-portfolio);
    padding: 20px 0 20px 23px;
}