.team {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
    &__section {
            background-color: var(--section-background-color);
        }
    &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            color: var(--title-color);
            margin-bottom: 30px;
            text-align: center;

            @media screen and (min-width: 1200px) {
                padding-bottom: 50px;    
            }
            } 
        
    &__list {
            @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            }
        }
    &__item {
            width: 100%;
            background-color: var(--white-color);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            margin-bottom: 30px;

            @media screen and (min-width: 768px) {
                    width: calc((100% - 30px)/2);
                }
            @media screen and (min-width: 1200px) {
                    width: calc((100% - 90px)/4);
                }    
        }
}
.team-desc__wrap {
    padding: 30px 0 24px 0;

    @media screen and (min-width: 1200px) {
            padding: 30px 0;
        }
}
.team-desc__uptitle {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}
.team-desc__text {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
}
.team-soc__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team-soc__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--soc-icon-color);
    border-radius: 50%;
    transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
    &:hover,
    &:focus {
            background-color: var(--accent-color);
            color: var(--white-color);
            cursor: pointer;
        }
}
.team-soc__item {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-size: contain;
}

.team-soc__icon {
    fill: currentColor;
}